# ----- Database -----
DB_NAME=YOUR_DB_NAME
DB_USER=YOUR_DB_USER
DB_PASS=YOUR_DB_PWD
DB_PORT=YOUR_DB_PORT
DB_INTERFACE_PORT=YOUR_DB_INTERFACE_PORT

# ----- JWT -----
JWT_SECRET=YOUR_SECRET
# Exemples : 15m, 1h, 7d
JWT_EXPIRATION=YOUR_JWT_DURATION
JWT_REFRESH_EXPIRATION=YOUR_JWT_REFRESH_DURATION #usually a lot longer than ordinary JWT