# ----- Database -----
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=
DB_PORT=
DB_INTERFACE_PORT=

# ----- Default admin -----
DEFAULT_ADMIN_MAIL=
DEFAULT_ADMIN_PASSWORD=

# ----- JWT -----
JWT_SECRET=YOUR_SECRET
# Examples : 15m, 1h, 7d
JWT_EXPIRATION=
JWT_REFRESH_EXPIRATION= #usually a lot longer than ordinary JWT


# --- CONFIGURATION MAIL (DEV / MAILPIT) ---
MAIL_HOST_DEV=
MAIL_PORT_DEV=
MAIL_USER_DEV=
MAIL_PASS_DEV=

# --- CONFIGURATION MAIL (PROD) ---
MAIL_HOST_PROD=
MAIL_PORT_PROD=
MAIL_USER_PROD=
MAIL_PASS_PROD=
MAIL_FROM_PROD=
MAIL_TEST_RECIPIENT=